.employeebtn{
    background-color: #6200ed;
    border: none;
    border-radius: 20px;
    color: white;
    margin: 4px 2px;
    text-align: center;
}

.toggleviewbtn{
    background-color: #6200ed;
    color: white;
    border: none;
    text-align: center;
    padding: 5px 10px;
}

.button {
    background-color: #6200ed;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.button:hover{
    color: white;
    background-color: #6200ed;
    border-color: none;
}
